.ball{
    display: flex;
    align-items: center;
    justify-content: center;
    height:30px ;
    width: 30px;
    position: absolute;
    z-index: 16;
    border-radius: 50%;
    background: red;
    opacity: 0;
    top: -100px;
    backdrop-filter:grayScale
}
.ball.active{
 opacity: 1;
 visibility: visible;
}